@import url(imports.less);

body{
	background: @white;
	img{
		.img-responsive;
	}
}
.bg{
	padding:10px;
	margin:0 auto;
}

.contact-links{
	.make-row();
	//background:@grey;
	.bg;
	.address{
		.make-lg-column(10);
		.make-xs-column(12);
		h3{
			.make-lg-column(1);
			.make-xs-column(0);
		}
		p{
			.make-lg-column(11);
			.make-xs-column(12);
			font-size:13px;
			padding-top:0.8%;
			float:right;
			color:@black;
		}
	}
	.social-icons{
		.make-lg-column(2);
		.make-xs-column(12);
		height:38px;
		img{
			height: 48px;
			width: 96px;
		}
	}
}
.header{
	.make-row();
	.bg;
	background:@white;
	.name{
		.make-lg-column(11);
		.make-xs-column(9);
		background:@white;
			h1{
				color:@red;
				font-style:italic bold;
		}
	}
	.logo{
		.make-lg-column(1);
		.make-xs-column(3);
		.bg;
		height:70px;
	}
}
nav{
	width:100%;
	background: @red;
	ul{
	    border-width:1px 0;
	    list-style:none;
	    margin:0;
	    padding:0;
	    text-align:center;
	    border-bottom:2px solid @white;
		li{
			display:inline;
			a{
				color:@white;
				font-style:bold;
				display:inline-block;
    			padding:15px 30px 15px 30px;
    			border-right:1px solid @black;
    			border-top:1px solid @black;
    			&:hover{
    				background:@grey;
    				text-decoration: none;
    			}
			}
		}
	}
}
.slider{
	width:100%;
	height:500px;
	background: @black;
	img{
		margin:0 auto;
	}
}
.cardeals{
	p{
		padding-top:2%;
		.make-lg-column(3);
	}
}
.featured-title{
	height:60px;
	h3{
		.make-lg-column(6);
	}
	h4{
		.make-lg-column(6);
		padding-top:1.5%;
		a{
			float:right;
			color:@black;
			&:hover{
				color:@red;
				cursor:pointer;
			}
		}
	}
}
.featured-vehicles{
			box-shadow: 3px 10px 10px -11px @darkgrey;		
			div{
				.make-lg-column(4);
				.make-xs-column(12);
				background: @black;
				height:130px;

				img{
					.make-lg-column(6);
					.make-xs-column(6);
					padding-top:4%;
				}
				.prices{
					.make-lg-column(6);
					.make-xs-column(6);
					padding-top:8%;
					
					p{
						color:@white;
						font-size:12px;
					}
					h4{
						color:@red;
						background:white;
						.bg;
						.btn;
					}
				}
			}		
}
.aboutus{
	.make-lg-column(7);
	.bg;
	p{
		color:@black;
		padding-right:15px;
	}
	hr{
		border:1px solid @black;
	}
	h2{
		color:@red;
	}
}
.promotions{
	.make-lg-column(5);
	.bg;
	
	h2{
		color:@red;
	}
	a{
		width:100%;
		.btn;
		background: @red;
		color:@white; 
		&:hover{
			cursor:pointer;
			background:@darkgrey;
			color:@white;
		}
	}
}
footer{
	background: @darkgrey;
	color: @black;
	height:300px;
	clear:both;
	.alllinks{
				.make-lg-column(8);
				ul{
					.make-lg-column(3);
					.bg;
					list-style:none;
					padding-left:0px;
					li{
						font-size:12px;
						b{
							color: @white;
							margin-top:5%;
						}
					}
				}
	}
	.info{	
		.make-lg-column(4);
		h3{
			float:right;
		}
		p{
			float:right;
			color:@black;
			b{
				color:@white;
				.bg;
			}
		}
	}
}

@media (max-width: 536px) {
.name{
	h1{
		font-size: 23px;
	}
}
	nav{
		ul{		
			li{
				display:block;
				border-bottom:1px solid @white;
				a{
					border:0px;
				}
			}		
		}
	}
	.featured-title{
	h4{
		a{
			padding-bottom:2%;
			float:left;
				}
		  }
	}
	footer{
		height:auto;
		.info{
			  h3{
				 float:left;
			  }
			  p{
				 float:left;
			   }
			}
	}
	.aboutus{
		clear: both;
	}
}



